@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-config {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "searcher searcher searcher" "main main main" "footer footer footer"; }

/*--INICIO HEADER--*/
header {
  color: white;
  background-color: #120200;
  grid-area: header; }
  header .navbar-brand {
    font-size: 40px;
    font-weight: 600; }
    header .navbar-brand:hover {
      text-decoration: underline; }
    header .navbar-brand img {
      width: 60px;
      height: 60px; }
  header .navbar-dark .navbar-toggler {
    color: white;
    border-color: white; }
    header .navbar-dark .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  header .nav-link {
    font-size: 20px; }
    header .nav-link:hover {
      text-decoration: underline; }

/*--FIN HEADER--*/
/*--INICIO SEARCHER--*/
.buscador {
  background-color: #120200;
  grid-area: searcher; }
  .buscador .btn-outline-success {
    color: white;
    border-color: white; }

/*--FIN SEARCHER--*/
/*--INICIO MAIN INDEX--*/
main {
  grid-area: main; }
  main .carousel {
    margin-bottom: 50px; }
    main .carousel .carousel-text {
      font-size: 75px;
      color: white;
      text-shadow: 3px 3px 1px #120200; }
  main .seccion__titulo {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px; }
  main .contenedor {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    main .contenedor .card {
      width: 250px;
      height: 350px;
      border: 1px solid whitesmoke;
      font-size: 10px;
      text-align: center;
      align-items: center;
      margin-bottom: 10px;
      box-shadow: 8px 10px 10px -8px #AF99AD;
      transition: 1s; }
      main .contenedor .card:hover {
        transform: scale(1.1); }
      main .contenedor .card .card-img {
        width: 140px;
        height: 200px;
        margin-top: 10px; }
      main .contenedor .card .card-title {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 20px; }
      main .contenedor .card .btn {
        text-decoration: none;
        color: white;
        font-size: 15px;
        background-color: #120200;
        padding: 5px;
        border-radius: 5px; }
        main .contenedor .card .btn:hover {
          color: #120200;
          font-weight: bold;
          background-color: #5c8a5c; }

.boton-whatsapp img {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 50px;
  right: 20px; }

/*--FIN MAIN INDEX--*/
/*--INICIO FOOTER--*/
footer {
  color: white;
  background-color: #120200;
  grid-area: footer; }
  footer div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    footer div div nav ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      footer div div nav ul a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 400;
        line-height: 150%; }
        footer div div nav ul a:hover {
          color: white;
          text-decoration: underline; }
    footer div .redes-sociales {
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start; }
      footer div .redes-sociales h2 {
        font-size: 15px;
        font-weight: 400; }
      footer div .redes-sociales div a img {
        width: 50px;
        height: 50px; }
    footer div .mapa {
      padding: 5px;
      justify-content: center;
      align-items: center; }

/*--FIN FOOTER--*/
/*--INICIO MEDIA QUERIES--*/
@media screen and (max-width: 1024px) {
  main .carousel .carousel-text {
    font-size: 60px; }
  .boton-whatsapp img {
    width: 60px;
    height: 60px; } }

@media screen and (max-width: 888px) {
  main .carousel .carousel-text {
    font-size: 50px; } }

@media screen and (max-width: 700px) {
  main .carousel .carousel-text {
    font-size: 30px; } }

@media screen and (max-width: 430px) {
  main .contenedor .card {
    box-shadow: none; }
    main .contenedor .card:hover {
      display: none; }
  .boton-whatsapp img {
    width: 40px;
    height: 40px; } }

@media screen and (max-width: 375px) {
  main .carousel .carousel-text {
    font-size: 25px; } }
