@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*--CONFIGURACIÓN FRAMEWORK--*/
.grid-config {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "searcher searcher searcher" "main main main" "footer footer footer"; }

header {
  grid-area: header; }

.buscador {
  grid-area: searcher; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/*--INICIO HEADER--*/
header {
  color: white;
  background-color: #120200; }
  header h1 {
    display: none; }
  header .navbar-brand {
    font-size: 2.5rem;
    font-weight: 600; }
    header .navbar-brand:hover {
      text-decoration: underline; }
    header .navbar-brand img {
      width: 60px;
      height: 60px; }
  header .navbar-dark .navbar-toggler {
    color: white;
    border-color: white; }
    header .navbar-dark .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  header .nav-link {
    font-size: 1.25rem; }
    header .nav-link:hover {
      text-decoration: underline; }

/*--FIN HEADER--*/
/*--INICIO SEARCHER--*/
.buscador {
  background-color: #120200; }
  .buscador .btn {
    color: white;
    font-size: 0.93rem;
    padding: 5px;
    border-radius: 5px;
    transition: background-color; }
    .buscador .btn:hover {
      background-color: #5c8a5c; }
  .buscador .btn-outline-success {
    border-color: white; }

/*--FIN SEARCHER--*/
/*--EXTEND USADO EN _MAIN-INDEX Y _FOOTER--*/
main .contenedor, footer div {
  display: flex;
  justify-content: space-around;
  align-items: center; }

/*--INICIO MAIN INDEX--*/
main .carousel {
  margin-bottom: 50px; }
  main .carousel .carousel-text {
    font-size: 4.6rem;
    color: white;
    text-shadow: 3px 3px 1px #120200; }

main .seccion__titulo {
  font-size: 1.8rem;
  color: #120200;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px; }

main .contenedor {
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 50px; }
  main .contenedor .card {
    width: 15.625rem;
    height: 21.875rem;
    border: 1px solid whitesmoke;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 8px 10px 10px -8px #AF99AD;
    transition: 1s; }
    main .contenedor .card:hover {
      transform: scale(1.1); }
    main .contenedor .card .card-img {
      width: 8.75rem;
      height: 12.5rem;
      margin-top: 10px; }
    main .contenedor .card .card-title {
      font-size: 0.93rem;
      font-weight: 500;
      margin-bottom: 20px; }
    main .contenedor .card .btn {
      text-decoration: none;
      color: white;
      font-size: 0.93rem;
      background-color: #120200;
      padding: 5px;
      border-radius: 5px; }
      main .contenedor .card .btn:hover {
        color: #120200;
        font-weight: bold;
        background-color: #5c8a5c; }

/*-------LAS DESMÁS SECCIONES DE LIBROS COMPARTIRÁN ESTAS MISMAS CONFIGURACIONES UTILIZANDO LAS MISMAS "CLASSES" PARA LOGRAR UNIFORMIDAD-------*/
/*--FIN MAIN INDEX--*/
/*--MAP USADO EN LAS MAINs LIBROS, TOP-10 Y QUIENES-SOMOS--*/
/*-------INICIO PAGINA LIBROS-------*/
.libros {
  color: #120200;
  text-align: center;
  margin: 10px; }
  .libros h2 {
    font-size: 2.5rem;
    margin-bottom: 20px; }
  .libros p {
    font-size: 1.8rem;
    font-style: italic; }

/*--LAS SECCIONES DE LIBROS COMPARTEN LAS "CLASSES" CONFIGURADAS EN INDEX PARA LOGRAR UNIFORMIDAD--*/
/*-------FIN PAGINA LIBROS-------*/
/*--MAP USADO EN LAS MAINs LIBROS, TOP-10 Y QUIENES-SOMOS--*/
/*-------INICIO PÁGINA TOP 10-------*/
.top-10 {
  color: #120200;
  text-align: center;
  margin: 10px; }
  .top-10 h2 {
    font-size: 2.5rem;
    margin-bottom: 20px; }
  .top-10 p {
    font-size: 1.8rem;
    font-style: italic; }

.tabla {
  padding: 20px;
  width: 100%;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px) 7, 200px;
  grid-template-areas: "uno dos" "uno tres" "cuatro cuatro" "cinco cinco" "seis seis" "siete siete" "ocho ocho" "nueve nueve" "diez diez"; }
  .tabla div {
    border: dotted #120200;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: flex; }
    .tabla div p {
      color: #120200;
      font-size: 0.93rem;
      text-align: center; }
      .tabla div p:first-child {
        font-weight: bold; }
      .tabla div p:nth-child(2) {
        text-align: justify;
        text-indent: 5%; }
    .tabla div img {
      width: 210px;
      height: 300px; }
  .tabla .uno {
    background-color: #ffea73; }
  .tabla .dos {
    background-color: silver; }
  .tabla .tres {
    background-color: #cd7f32; }
  .tabla .uno {
    grid-area: uno; }
  .tabla .dos {
    grid-area: dos; }
  .tabla .tres {
    grid-area: tres; }
  .tabla .cuatro {
    grid-area: cuatro; }
  .tabla .cinco {
    grid-area: cinco; }
  .tabla .seis {
    grid-area: seis; }
  .tabla .siete {
    grid-area: siete; }
  .tabla .ocho {
    grid-area: ocho; }
  .tabla .nueve {
    grid-area: nueve; }
  .tabla .diez {
    grid-area: diez; }

/*-----FIN PÁGINA TOP 10-----*/
/*--MAP USADO EN LAS MAINs LIBROS, TOP-10 Y QUIENES-SOMOS--*/
/*--MIXIN USADO EN _MAIN-QUIENES-SOMOS--*/
/*----INICIO PÁGINA QUIÉNES SOMOS----*/
.quienes-somos {
  margin: 10px; }
  .quienes-somos h2 {
    color: #120200;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px; }

.historia {
  margin: 20px; }
  .historia__titulo {
    color: #120200;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px; }
  .historia p {
    color: #120200;
    font-size: 0.93rem;
    text-align: justify;
    text-indent: 3%; }

.mision {
  margin: 20px; }
  .mision__titulo {
    color: #120200;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px; }
  .mision p {
    color: #120200;
    font-size: 0.93rem;
    text-align: justify;
    text-indent: 3%; }

.vision {
  margin: 20px; }
  .vision__titulo {
    color: #120200;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px; }
  .vision p {
    color: #120200;
    font-size: 0.93rem;
    text-align: justify;
    text-indent: 3%; }

/*-----FIN PAGINA QUIENES SOMOS-----*/
/*-------INICIO PAGINA CONTACTO-------*/
/*--LA IDEA ES QUE EL FORMULARIO QUEDE EN LA PARTE IZQUIERDA DE LA PÁGINA Y LOS TELÉFONOS EN LA PARTE DERECHA--*/
.main-contactos {
  font-size: 0.93rem;
  color: #120200;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px; }
  .main-contactos .formulario-de-contacto {
    text-align: center;
    padding: 20px; }
    .main-contactos .formulario-de-contacto h3 {
      font-size: 1.8rem;
      text-decoration: underline;
      margin-bottom: 20px; }
    .main-contactos .formulario-de-contacto .mb-3 .form-control {
      border-color: #120200; }
    .main-contactos .formulario-de-contacto .boton-formulario {
      color: white;
      background-color: #120200;
      width: 30%;
      border-radius: 5%; }
    .main-contactos .formulario-de-contacto #mensaje {
      border-color: #120200;
      border-radius: 2%;
      width: 100%; }
  .main-contactos .telefonos-de-contacto {
    text-align: center;
    padding: 20px; }
    .main-contactos .telefonos-de-contacto h3 {
      font-size: 1.8rem;
      text-decoration: underline;
      margin-bottom: 20px; }

/*-------FIN PAGINA CONTACTO-------*/
.boton-whatsapp img {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 50px;
  right: 20px; }

/*--EXTEND USADO EN _MAIN-INDEX Y _FOOTER--*/
main .contenedor, footer div {
  display: flex;
  justify-content: space-around;
  align-items: center; }

/*--INICIO FOOTER--*/
footer {
  color: white;
  background-color: #120200; }
  footer div {
    flex-wrap: wrap; }
    footer div div nav ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left; }
      footer div div nav ul a {
        text-decoration: none;
        color: white;
        font-size: 0.93rem;
        font-weight: 400;
        line-height: 150%; }
        footer div div nav ul a:hover {
          color: white;
          text-decoration: underline; }
    footer div .redes-sociales {
      display: flex;
      flex-direction: column;
      text-align: center; }
      footer div .redes-sociales h2 {
        font-size: 0.93rem;
        font-weight: 400; }
      footer div .redes-sociales div a img {
        width: 50px;
        height: 50px; }
    footer div .mapa {
      padding: 5px;
      justify-content: center;
      align-items: center; }

/*--FIN FOOTER--*/
/*--INICIO MEDIA QUERIES--*/
@media screen and (max-width: 1024px) {
  main .carousel .carousel-text {
    font-size: 3.75rem; }
  .boton-whatsapp img {
    width: 3.75rem;
    height: 3.75rem; }
  .tabla {
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis" "siete" "ocho" "nueve" "diez"; } }

@media screen and (max-width: 918px) {
  .main-contactos {
    flex-direction: column; } }

@media screen and (max-width: 888px) {
  main .carousel .carousel-text {
    font-size: 3.125rem; } }

@media screen and (max-width: 700px) {
  main .carousel .carousel-text {
    font-size: 1.8rem; } }

@media screen and (max-width: 492px) {
  .libros h2 {
    font-size: 1.8rem; }
  .libros p {
    font-size: 1.25rem; }
  .top-10 h2 {
    font-size: 1.8rem; }
  .top-10 p {
    font-size: 1.25rem; }
  .quienes-somos h2 {
    font-size: 1.8rem; }
  .historia__titulo {
    font-size: 1.25rem; }
  .mision__titulo {
    font-size: 1.25rem; }
  .vision__titulo {
    font-size: 1.25rem; }
  .main-contactos .formulario-de-contacto h3 {
    font-size: 1.25rem; }
  .main-contactos .formulario-de-contacto .boton-formulario {
    width: 40%; }
  .main-contactos .telefonos-de-contacto h3 {
    font-size: 1.25rem; } }

@media screen and (max-width: 430px) {
  .grid-config {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "searcher" "main" "footer"; }
  main .contenedor .card {
    box-shadow: none; }
    main .contenedor .card:hover {
      display: none; }
  .boton-whatsapp img {
    display: none; } }

@media screen and (max-width: 375px) {
  main .carousel .carousel-text {
    font-size: 1.563rem; } }
