@import "../base/variables";

/*----INICIO PÁGINA QUIÉNES SOMOS----*/

.quienes-somos{
    padding: 10px;
    h2{
        color: $color-primero;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }
    
}

.historia {
    padding: 20px;
    &__titulo{
        color: $color-primero;
        font-size: 30px;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        color: $color-primero;
        font-size: 15px;
        text-align: justify;
        text-indent: 3%
    }
}

.mision{
    padding: 20px;
    &__titulo{
        color: $color-primero;
        font-size: 30px;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        color: $color-primero;
        font-size: 15px;
        text-align: justify;
        text-indent: 3%
    }
}

.vision {
    padding: 20px;
    &__titulo{
        color: $color-primero;
        font-size: 30px;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        color: $color-primero;
        font-size: 15px;
        text-align: justify;
        text-indent: 3%
    }
}

/*-----FIN PAGINA QUIENES SOMOS-----*/