@import "../base/variables";
@import "../base/maps";

/*----INICIO PÁGINA QUIÉNES SOMOS----*/

.quienes-somos{
    margin: 10px;
    h2{
        color: map-get($titulo, color);
        font-size: map-get($titulo, font-size);
        text-align: map-get($titulo, text-align);
        margin-bottom: map-get($titulo, margin);
    }
    
}

.historia {
    margin: 20px;
    &__titulo{
        color: $color-primero;
        font-size: $size-tercero;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        color: $color-primero;
        font-size: $size-quinto;
        text-align: justify;
        text-indent: 3%
    }
}

.mision{
    margin: 20px;
    &__titulo{
        color: $color-primero;
        font-size: $size-tercero;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        color: $color-primero;
        font-size: $size-quinto;
        text-align: justify;
        text-indent: 3%
    }
}

.vision {
    margin: 20px;
    &__titulo{
        color: $color-primero;
        font-size: $size-tercero;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        color: $color-primero;
        font-size: $size-quinto;
        text-align: justify;
        text-indent: 3%
    }
}

/*-----FIN PAGINA QUIENES SOMOS-----*/