@import "../base/variables";
@import "../base/maps";

/*-------INICIO PAGINA LIBROS-------*/

.libros {
    color: map-get($titulo, color);
    text-align: map-get($titulo, text-align);
    margin: 10px;
    h2{
        font-size: map-get($titulo, font-size);
        margin-bottom: map-get($titulo, margin);
    }
    p {
        font-size: $size-tercero;
        font-style: italic;
    }
}

/*--LAS SECCIONES DE LIBROS COMPARTEN LAS "CLASSES" CONFIGURADAS EN INDEX PARA LOGRAR UNIFORMIDAD--*/

/*-------FIN PAGINA LIBROS-------*/