@import "../base/variables";
@import "../base/maps";

/*-------INICIO PÁGINA TOP 10-------*/

.top-10 {
    color: map-get($titulo, color);
    text-align: map-get($titulo, text-align);
    margin: 10px;
    h2{
        font-size: map-get($titulo, font-size);
        margin-bottom: map-get($titulo, margin);
    }
    p {
        font-size: $size-tercero;
        font-style: italic;
    }
}

.tabla {
    padding: 20px;
    width: 100%;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px) (7, 200px);
    grid-template-areas:
        "uno dos"
        "uno tres"
        "cuatro cuatro"
        "cinco cinco"
        "seis seis"
        "siete siete"
        "ocho ocho"
        "nueve nueve"
        "diez diez"
    ;
    div {
        border: dotted $color-primero;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: flex;
        p{
            color: $color-primero;
            font-size: $size-quinto;
            text-align: center;
            &:first-child {
                font-weight: bold;
            }
            &:nth-child(2) {
                text-align: justify;
                text-indent: 5%
            }
        }
        img {
            width: 210px;
            height: 300px;
        }
    }
    @each $name, $value in $bg-color {
        .#{$name} {
            background-color: $value;
        }
    }
    .uno {
        grid-area: uno;
    }    
    .dos {
        grid-area: dos;
    }    
    .tres {
        grid-area: tres;
    }    
    .cuatro {
        grid-area: cuatro;
    }    
    .cinco {
        grid-area: cinco;
    }    
    .seis {
        grid-area: seis;
    }    
    .siete {
        grid-area: siete;
    }    
    .ocho {
        grid-area: ocho;
    }    
    .nueve {
        grid-area: nueve;
    }    
    .diez {
        grid-area: diez;
    }
}

/*-----FIN PÁGINA TOP 10-----*/