@import "../base/variables";

/*-------INICIO PAGINA CONTACTO-------*/
/*--LA IDEA ES QUE EL FORMULARIO QUEDE EN LA PARTE IZQUIERDA DE LA PÁGINA Y LOS TELÉFONOS EN LA PARTE DERECHA--*/

.main-contactos {
    font-size: $size-quinto;
    color: $color-primero;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    .formulario-de-contacto {
        text-align: center;
        padding: 20px;
        h3{
            font-size: $size-tercero;
            text-decoration: underline;
            margin-bottom: 20px;
        }
        .mb-3{
            .form-control{
                border-color: $color-primero;
            }
        }
        .boton-formulario{
            color: $color-segundo;
            background-color: $color-primero;
            width: 30%;
            border-radius: 5%;
        }
        #mensaje{
            border-color: $color-primero;
            border-radius: 2%;
            width: 100%
        }
    }
    .telefonos-de-contacto {
        text-align: center;
        padding: 20px;
        h3{
            font-size: $size-tercero;
            text-decoration: underline;
            margin-bottom: 20px;
        }
    }
}



/*-------FIN PAGINA CONTACTO-------*/