@import "../base/variables";
@import "../base/extends";

/*--INICIO MAIN INDEX--*/

main {
    .carousel{
        margin-bottom: 50px;
        .carousel-text{
            font-size: $size-primero;
            color: $color-segundo;
            text-shadow: 3px 3px 1px $color-primero;
        }
    }
    .seccion__titulo{
        font-size: $size-tercero;
        color: $color-primero;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
    .contenedor{
        width: 100%;
        @extend %flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        .card{
            width: 15.625rem;
            height: 21.875rem;
            border: 1px solid whitesmoke;
            text-align: center;
            align-items: center;
            margin-bottom: 10px;
            box-shadow: 8px 10px 10px -8px #AF99AD;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
            .card-img{
                width: 8.75rem;
                height: 12.5rem;
                margin-top: 10px;
            }
            .card-title{
                font-size: $size-quinto;
                font-weight: 500;
                margin-bottom: 20px;
            }
            .btn{
                text-decoration: none;
                color: $color-segundo;
                font-size: $size-quinto;
                background-color: $color-primero;
                padding: 5px;
                border-radius: 5px;
                &:hover{
                    color: $color-primero;
                    font-weight: bold;
                    background-color: $color-tercero;
                }
            }
        }
    }
}

/*-------LAS DESMÁS SECCIONES DE LIBROS COMPARTIRÁN ESTAS MISMAS CONFIGURACIONES UTILIZANDO LAS MISMAS "CLASSES" PARA LOGRAR UNIFORMIDAD-------*/

/*--FIN MAIN INDEX--*/