/*--INICIO MEDIA QUERIES--*/

@media screen and (max-width:1024px) {
    main .carousel .carousel-text{
        font-size: 60px;
    }
    .boton-whatsapp img {
        width: 60px;
        height: 60px;
    }
    .tabla {
        padding: 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
            "siete"
            "ocho"
            "nueve"
            "diez";
    }
}

@media screen and (max-width:918px){
    .main-contactos {
        flex-direction: column;
    }
}

@media screen and (max-width:888px) {
    main .carousel .carousel-text{
        font-size: 50px;
    }
}

@media screen and (max-width:700px) {
    main .carousel .carousel-text{
        font-size: $size-tercero;
    }
}

@media screen and (max-width:492px){
    .libros {
        h2{
            font-size: $size-tercero;
        }
        p{
            font-size: $size-cuarto;
        }
    }
        
    .top-10{
        h2{
            font-size: $size-tercero;
        }
        p{
            font-size: $size-cuarto;
        }
    }
    .quienes-somos h2{
        font-size: $size-tercero;
    }
    .historia__titulo{
        font-size: $size-cuarto;
    }
    .mision__titulo{
        font-size: $size-cuarto;
    }
    .vision__titulo{
        font-size: $size-cuarto;
    }
    .main-contactos{
        .formulario-de-contacto{
            h3{
                font-size: $size-cuarto;
            }
            .boton-formulario{
                width: 40%;
            }
        }
        .telefonos-de-contacto{
            h3{
                font-size: $size-cuarto;
            }
        }
    }
}

@media screen and (max-width:430px){
    .grid-config {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "searcher"
            "main"
            "footer"
        ;
    }
    main .contenedor .card{
        box-shadow: none;
        &:hover {
            display: none;
        }
    }
    .boton-whatsapp img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width:375px){
    main .carousel .carousel-text{
        font-size: 25px;
    }
}