@import "../base/variables";

/*--INICIO SEARCHER--*/

.buscador{
    background-color: $color-primero;
    grid-area: searcher;
    .btn-outline-success {
        color: $color-segundo;
        border-color: $color-segundo;
    }
}

/*--FIN SEARCHER--*/