@import "./variables";

/*--MAP USADO EN LAS MAINs LIBROS, TOP-10 Y QUIENES-SOMOS--*/

$titulo:(
    color: $color-primero,
    font-size: $size-segundo,
    text-align: center,
    margin: 20px,
);

$bg-color:(
    "uno": rgb(255, 234, 115),
    "dos": silver,
    "tres": rgb(205, 127, 50),
);

