$color-primero: #120200;
$color-segundo: white;
$color-tercero: rgb(92, 138, 92);


$size-primero: 4.6rem;
$size-segundo: 2.5rem;
$size-tercero: 1.8rem;
$size-cuarto: 1.25rem;
$size-quinto: 0.93rem;

