/*--COLOR--*/

$color-primero: #120200;
$color-segundo: white;
$color-tercero: rgb(92, 138, 92);

/*--FONT SIZE--*/

$size-primero: 75px;
$size-segundo: 40px;
$size-tercero: 30px;
$size-cuarto: 20px;
$size-quinto: 15px;
$size-sexto: 10px;